version: "3"

services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    environment:
      REDIS_HOST: "redis"
      REDIS_URL: "redis://redis:6379"
      DATABASE_URL: "mysql2://root:@db"
      DB_NAME: tmp
    links:
      - redis:redis
    volumes:
      - ./docker/certs:/etc/ssl/certs

  redis:
    image: redis:alpine
    ports:
      - ${REDIS_PORT:-6379}:6379
    volumes:
      - redis:/data

  db:
    image: mysql:5.7.29
    ports:
      - ${DB_PORT:-3306}:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - ./initial.sql:/docker-entrypoint-initdb.d/initial.sql
      - db:/var/lib/mysql

volumes:
  redis:
  db:
