version: '3'

services:
  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: Dockerfile
      args:
        ENVIRONMENT: development
    ports:
      - 80:80
      - 443:443
    environment:
      DEFAULT_DOMAIN: 'localhost'
      REDIS_HOST: 'redis'
    links:
      - redis:redis

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - ${REDIS_PORT:-6379}:6379
    volumes:
      - redis:/data

volumes:
  redis:
