version: "3"

services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    environment:
      REDIS_HOST: "redis"
    links:
      - redis:redis

  redis:
    image: redis:alpine
    ports:
      - ${REDIS_PORT:-6379}:6379
    volumes:
       - redis:/data

volumes:
  redis: {}
